#last-name, #confirm-password {
    border-left: none;
}

span {
	font-size: 13px;
	color: red;
}

button {
	background-color: #7f4fb3;
	color: white;

}

::-webkit-input-placeholder {
 /* font-weight: bold;*/
  font-size: 17px;
}
