.home-image {
    max-width: 150px !important;
    max-height: 150px !important;
    padding: 20px;
}

.home-img-overlay:hover {
    background: rgba(127, 77, 184, .8);
}

.home-img-overlay-text {
    font-size: 14pt;
    font-weight: 600;
    text-shadow: 0px 0px 8px #7f4db8;
    height: 100%;
    position: relative;
    top: 40%;
}