.footer-tip {
    line-height: .5;
    height: 33px;
    font-size: 10pt;
}

.rt-table {
    font-size: 10pt;
}


/* form preview */
.form-preview {
    color: #7f4db8;
    border-radius: 0px !important;
    border: solid 1px #7f4db8;
    background: none !important;
  }
  

.avatar {
  /* object-fit: cover; */
  max-height: 200px;
  max-width: 200px;
  border-radius: 0px;
  border: none;
  overflow: hidden;
}