/* card image area */
.search-image {
  max-height: 200px;
  max-width: 200px;
  border-radius: 0px;
  background: rgba(127, 77, 184, 1);
  border: none;
  overflow: hidden;
}

/* text over card image */
.search-img-overlay {
  font-size: 8pt;
  color: white;
  position: absolute;
  height: 150px;
  background: rgba(127, 77, 184, .3);
  overflow: hidden;
}

